<body class="text-center"> 
    <h1 class="text-green-600 text-5xl font-bold m-10">
        M&A's IOT house! 
    </h1> 
  
    <b class="m-4">123456789101112131415</b> 
  
    <div class="grid grid-cols-3 gap-1 justify-evenly  mx-20"> 
        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            {{title1}}
            <br>
            1
            <br>
            {{value1}}
            <br>
            1
            <br>
            1
        </div> 


        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            <p id="b1">text</p>
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b3
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b4
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b5
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b6
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b7 
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 

        <div class="bg-green-700 w-26 h-33 rounded-md m-3">
            b8
            <br>
            1
            <br>
            1
            <br>
            1
            <br>
            1
        </div> 
    </div> 
</body> 

<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://localhost:3000');
    socket.on('msg', function (data) {
        const obj = JSON.parse(data);
        console.log(obj.led1);
        const B1 = document.getElementById("b1");
        B1.innerText = obj.led1;
    });

</script>